.home-container
  min-height: 100vh
  .md-button.create-poll
    width: 200px
    font-size: 17px
    text-transform: capitalize
  table.md-table
    th.md-column
      font-size: 16px
      &.md-checkbox-column
        display: none
    td.md-cell
      height: 50px
      div.full-bar
        border: 1px solid rgb(57,73,171)
        max-height: 12px
        height: 12px
        width: 100%
        div.progress-bar
          background-color: rgb(57,73,171)
          height: 100%
      .progress-text
        max-height: 15px
      &.md-checkbox-cell
        display: none

