<navbar></navbar>
<md-content class="md-padding home-container" layout="column">
  <md-button class="md-raised md-primary create-poll" ui-sref="create">Create New Poll</md-button>
  <md-card>        
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Polls:</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="$ctrl.loadStuff()">
          <md-icon>refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-table-container>
      <table md-table md-row-select="true" multiple="false" ng-model="$ctrl.selected" md-progress="$ctrl.promise">
        <thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.logOrder">
          <tr md-row>
            <th md-column md-order-by="name"><span>Poll Name</span></th>
            <th md-column md-order-by="completed"><span>Progress</span></th>
            <th md-column md-order-by="status"><span>Status</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="dessert" md-on-select="$ctrl.logItem" md-auto-select="true" ng-repeat="dessert in $ctrl.desserts.data | filter: filter.search | orderBy: $ctrl.query.order | limitTo: $ctrl.query.limit : ($ctrl.query.page - 1) * $ctrl.query.limit" ui-sref="detail({id:dessert.id})">
            <td md-cell>{{dessert.name}}</td>
            <td md-cell layout="row" layout-xs="column" layout-align="start center" layout-align-xs="center start">
              <div ng-if="dessert.status != 'Draft'" class="full-bar" flex="50" flex-xs="100">
                <div class="progress-bar" ng-style="{'width': dessert.completed / dessert.total * 100 + '%'}">
                  <md-tooltip>{{ dessert.completed / dessert.total * 100 | number: 0 }}% Completed!</md-tooltip>
                </div>
              </div>
              <div class="progress-text" ng-if="dessert.status != 'Draft'" flex="50" flex-xs="100">&nbsp;{{ dessert.completed }}/{{dessert.total}}</div>
            </td>
            <td md-cell>{{dessert.status}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="$ctrl.limitOptions" md-page="$ctrl.query.page" md-total="{{$ctrl.desserts.count}}" md-page-select="true" md-on-paginate="$ctrl.logPagination"></md-table-pagination>
  </md-card>
</md-content>